:root {
  --lemon-icing: #F6EBC8;
  --nimbus-cloud: #D5D5D8;
  --raindrops-roses: #ECD8DC;
  --cloud-dancer: #F0EEE9;
  --ice-melt: #D3E4F1;
  --peach-dust: #F0D8CC;
  --almost-aqua: #CAD3C1;
  --orchid-tint: #DBD2DB;
}
