@theme inline {
  /*
  =====================
  Colors
  =====================
  */

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);

  --color-secondary-hover: var(--secondary-hover);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-surface: var(--surface);

  --color-surface-elevated: var(--surface-elevated);

  --color-surface-subtle: var(--surface-subtle);

  --color-text-primary: var(--text-primary);

  --color-text-secondary: var(--text-secondary);

  --color-text-disabled: var(--text-disabled);

  --color-border: var(--border);

  --color-success: var(--success);
  --color-success-hover: var(--success-hover);

  --color-warning: var(--warning);
  --color-warning-hover: var(--warning-hover);

  --color-info: var(--info);
  --color-info-hover: var(--info-hover);

  --color-danger: var(--danger);
  --color-danger-hover: var(--danger-hover);

  --color-skeleton: var(--skeleton);

  /*
  =====================
  Spacing
  =====================
  */

  --spacing-xs: 0.25rem;

  --spacing-sm: 0.5rem;

  --spacing-md: 1rem;

  --spacing-lg: 1.5rem;

  --spacing-xl: 2rem;

  /*
  =====================
  Radius
  =====================
  */

  --radius-sm: 0.25rem;

  --radius-md: 0.5rem;

  --radius-lg: 0.75rem;

  --radius-xl: 1rem;

  --radius-full: 9999px;
}
